<div class="categories">
    <h1>Categories</h1>
    <div class="ui mini input">
        <%= form_with(model: @category, class: 'ui mini input', )do |form| %>
            <%= form.text_field :name, placeholder: "Add Category...", class: 'category_name' %>
            <%= form.submit 'Add', id: 'addButton', class: 'ui primary mini button'%>
        <% end %>
    </div>
    <table class="ui celled unstackable table">
        <thead>
            <tr>
                <th>Category</th>
                <th>Ads</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody id="container_categories">
            <%= render @categories %>
        </tbody>
    </table>
</div>