<div class="categories">
    <h1>Categories</h1>
    <div class="ui mini input">
        <input type="text" placeholder="Add Category...">
        <button id="addButton" class="ui primary mini button">Add</button>
    </div>
    <table class="ui celled table">
        <thead>
            <tr>
                <th>Category</th>
                <th>Ads</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td>Trucks</td>
            <td>24</td>
            <td><a href="">Remove</a></td>
            </tr>
            <tr>
                <td>Trailers</td>
                <td>100</td>
                <td><a href="">Remove</a></td>
            </tr>
            <tr>
                <td>Tires</td>
                <td>50</td>
                <td><a href="">Remove</a></td>
            </tr>
        </tbody>
    </table>
</div>