<li><a href="<%= user_path current_user %>"><i class="far fa-user"></i>Profile</a></li>
<li><a href="<%= my_listings_path %>"><i class="far fa-list-alt"></i>Listings</a></li>
<li><a href="<%= my_watchlist_path %>"><i class="far fa-heart"></i>Watch list</a></li>
<li><a href="#"><i class="far fa-wallet"></i>Wallet</a></li>
<li><a href="#"><i class="far fa-cog"></i>Settings</a></li>
<li><a href="<%= destroy_user_session_path %>"><i class="far fa-sign-out-alt"></i>Logout</a></li>