@media screen and (max-width: 1700px) {
    .ui.compact.selection.dropdown {
        display: none;
    }
}


@media screen and (max-width: 1300px) {
    // inbox
    .left-sidebar{
        width: 30%;
    }
    .conversation.container {
        margin: 0 0 0 30%;
    }
    .conversation.container, .conversation.container .message-input{
        width: 70%;
    }
    .right-sidebar {
        right: -20%;

    }
}
@media screen and (max-width: 1024px) {
    .ui.compact.selection.dropdown {
        display: none;
    }
    .main.nav {
        display: none;
    }
    .main.header .main-nav .logo-content {
        width: 28%;
        
    }
    .main.header .main-nav .search {
        width: 60%;
        input {
            width: auto;
        }
    }
    .main.header .main.nav.mobile {
        display: block;
        width: 12%;
    }
}
@media screen and (max-width: 600px) {

    .account-menu {
        position: absolute;
        visibility: hidden;
    }

    nav.mobile {
        display: block;
        
    }
    // close mobile menu
    nav ul.mobile::after {
        font-family: "Font Awesome 5 Pro";
        content: "\f00d";
        font-size: 24px;
        font-weight: 300;
        display: none;
    }
    .render-notifications.mobile .fa-times, 
    #top-nav-mobile ul .fa-times,
    #mobile-menu ul .fa-times {
        position: absolute;
        cursor: pointer;
        top: 5px;
        right: 30px;
        height: 30px;
        width: 30px!important;
        margin: 0;
    }

    nav.notifications {
        z-index: 1000;
        ul {
            position: absolute;
            left: 0;
            top: 32px;
            width: 100vw;
            transition: opacity 200ms ease 0s, top 200ms ease 0s;
            li {
                font-size: 18px;
                line-height: 22px;
            }
        }
    }
    .bread-nav {
        display: block;
        &.fixed {
            position: fixed;
        }
    }

    // nav ul {
    //     opacity: 1;
    //     visibility: visible;
    //     display: none;
    // }

    .left-sidebar {
        width: 100%;
    }
    .right-sidebar {
        left: 100vw;
        width: 100vw;
    }
    .conversation.container {
        background: white;
        // right: -100vw;
        width: 100%;
        height: auto;
        margin: 0;
        left: 100vw;
        overflow: hidden;
        transition: left 200ms ease 0s, height 200ms ease 200ms, width 200ms ease 0s; 
        .message-input {
            width: 100vw;
        }
    }
    .bread-left  {
        float: left;
        & > * {
            float: left;
            margin: 11px 5px;
        }
        i, svg {
            height: 30px;
        }
    }
    .bread-right {
        float: right;
        & > * {
            float: right;
            margin: 11px 5px;
        }
        i, svg {
            height: 30px;
            width: 30px!important;
        }
    }
    .user.info {
        display: flex;
        align-items: center;
        .avatar {
            border-radius: 15px;
            margin-right: 10px;
            height: 30px;
        }
    }
    .inbox-messages {
        padding-top: 65px;
    }
    .main.header {
        #top-nav-mobile {
            display: inline-block;
            width: 40px;
            &.hover:hover::before{
                bottom: -15px;
                left: 10px;
            }
        }
        #main-nav-mobile{
            display:none;
        }
    }
    
    .main.header ul.float-left {
        display: none;
    }
    .logo-content {
        display: none;
    }
    .logo-mobile{
        display: inline-block;
    }
    .main.header .notifications {
        height: 35px;
    }
    .main.header  .svg-inline--fa{
        height: 35px;
    }
    .top-nav nav ul {
        top: 47px;
    }
    .top-nav nav.hover:hover > ul{
        top: 40px;
    }
    .main.header .top-nav nav.hover{
        & > ul {
            top: 45px;
        }
        &:hover > ul {
            top: 40px;
        }
    }
    .main.header nav.hover:hover::before {
        bottom: -20px;
    } 
    .main.header nav.hover:before {
        bottom: -30px;
    } 
    .main.header .main-nav {
        height: 55px;
    }
    .main.header .main-nav .search {
        width: 100%;
    }
    .main.header .main-nav .search .ui.button {
        width: 50px;
        padding: 5px;
        svg, i{
            display: block;
            height: 20px;
        }
    }
    .search .ui.button span{
        display: none;
    }

}
