
<nav class="notifications hover" id="cart-notification-menu" >
    <!-- Unread messages notification with uniq conversation paramater -->
    <header>
        <div class="notification-size <%= "hide" %>"></div>
        <i class="far fa-shopping-cart"></i>
    </header>

    <ul class="render-notifications">
        <%= render partial: 'notifications/items/cart_notification_item' %>
    </ul>
</nav>     