
<nav class="notifications hover" id="cart-notification-menu" >
    <% if current_user.present? %>
            <!-- Unread messages notification with uniq conversation paramater -->
            <header>
                <div class="notification-size <%= "hide" %>"></div>
                <i class="far fa-shopping-cart"></i>
            </header>

            <ul class="render-notifications">
                <%= render partial: 'notifications/items/cart_notification_item' %>
            </ul>

    <% else %>
        <a class="ui icon top right inline item "  href="<%= conversations_path %>" style="margin-right: 0">
            <i class="far fa-envelope"></i>
        </a>
    <% end %> <!-- end if --> 
</nav>     