<nav class="notifications hover" id="messages-notification-menu" >
    <!-- Unread messages notification with uniq conversation paramater -->
    <header>
        <div class="notification-size <%= "hide" if message_unread_size < 1 %>"><%= message_unread_size %></div>
        <i class="far fa-envelope"></i>
    </header>

    <ul class="render-notifications">
        <%= render partial: 'notifications/items/message_notification_item' %>
    </ul>
</nav>