<nav class="notifications hover" id="notification-menu">
    
    <header>
        <!-- Unread notification size -->
        <div class="notification-size red <%= "hide" if notification_unread_size < 1 %>"><%= notification_unread_size %></div>
        <i class="far fa-bell"></i>
    </header>

    <ul class="render-notifications">
        <%= render partial: 'notifications/items/notification_item' %>
    </ul>
</nav>
