:root {
    --main-color:            #2185D0;
    --secondary-color:       #FBBD08;
    --alert-color:           #FB7181;
    --hover-bg-color:        #dcefff;
    --light-bg-color:        aliceblue;
    --lighter-bg-color:      #F7F6FC;
    --active-bg-color:       #e8e8e8;
    --white-bg-color:        white;
    --border-color:          rgba(34, 36, 38, 0.15);
    --light-border-color:    #e8e8e8;
    
    --main-text-color:       rgba(0, 0, 0, 0.87);
    --dark-blue-color:        #4D5A83;
    --dark-text-color:       #646366;
    --light-text-color:      #8F8F8F;
    --lighter-text-color:    #a2a2a2;

    
  }