.svg-inline--fa {
    width: 20px!important;
    height: 20px;
    margin: 0px 10px;
}

.icons {
    > *{
        display: inline-flex;
    }
    &.light{
        a{
            color: white;
        }
        color: white;
    }
}

nav {
    li .svg-inline--fa {
        width: 15px!important;
        height: 15px;
    }
}