/* html {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header {
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.title {
    display: flex;
    margin-top: 2%;
}

.logo {
    width: 75px;
    margin-right: 5px;
}

.cashfreight {
    color: #273C60;
    font-size: 24px;
}

.classifieds {
    color: #1477F8;
    font-size: 16px;
}

.icons {
    margin-top: 5px;
}

#menu {
    margin-bottom: 12px;
    margin-top: 2%;
}

.messageBoxs {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin-top: 5%;
}

.messages {
    background-color: #E2E2E2;
    width: 25%;
    height: 814px;
    border-radius: 5px;
}

.messageDisplay {
    background-color: #E2E2E2;
    width: 70%;
    height: 814px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.noMessageSelected {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.messageHeader {
    margin-left: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 28px;
}

.ui.fluid.dropdown {
    width: 80%;
    margin: 5% 9%;
    border-radius: 20px;
}

.messageList {
    width: 80%;
    margin: 15% 9%;
}

.card {
    display: flex;
    flex-direction: row!important;
    justify-content: center;
    align-items: center;
}

.userImage {
    width: 50px;
    margin-left: 2%;
}

.messageContent {
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.to, .from, .description {
    margin-bottom: 2%;
}

.envelope.icon {
    font-size: 50px;
}

.selectMessage {
    font-size: 24px;
    width: 250px;
    text-align: center;
    line-height: 28px;
}

.fullMessage {
    width: 90%;
    background-color: white;
    border-radius: 5px;
    position: relative;
    height: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10%;
}

.exit {
    position: absolute;
    right: 10px;
    top: 5px;
}

/* Added by Allan */
.userImage.inbox {
    /* border-radius: 25px!important; */
    margin: 10px;
}
.ui.fluid.dropdown.selection{
    width: 80%;
    border-radius: 25px;
}

.inboxMessages {
    width: 100%;
    padding: 10%;
}
.conversation {
    width: 100%;
    margin: 8px;
}
.conversation span {
    border-radius: 15px;
    line-height: 30px;
    padding: 8px!important;
    width: auto;
}
.room_owner {
    text-align: right;
}
.room_owner span {
    background-color: #2185d0;
    color: white;
}
.room_user span {
    background-color: #E4E6EB;
}

/* end Allan */

  /* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3) {
    body {
        font-size: 30px;
    }
    .messageDisplay {
        display: none;
    }
    .messageBoxs {
        width: 90%;
    }
    .messages {
        width: 100%;
        margin: 10%;
        height: 1700px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    /* .messageList {
        font-size: 30px!important;
    } */
    .ui.cards {
        justify-content: center;
    }
    .card {
        width: 90%!important;
    }
}

/* Portrait */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {
    body {
        font-size: 30px;
    }
    .messageDisplay {
        display: none;
    }
    .messageBoxs {
        width: 90%;
    }
    .messages {
        width: 100%;
        margin: 10%;
        height: 1700px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    /* .messageList {
        font-size: 30px!important;
    } */
    .ui.cards {
        justify-content: center;
    }
    .card {
        width: 90%!important;
    }
}

/* Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) { 
    body {
        font-size: 30px;
    }
    .messageDisplay {
        display: none;
    }
    .messageBoxs {
        width: 90%;
    }
    .messages {
        width: 100%;
        margin: 10%;
        height: 1700px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    /* .messageList {
        font-size: 30px!important;
    } */
    .ui.cards {
        justify-content: center;
    }
    .card {
        width: 90%!important;
    }
}
 */
