nav {
    position: relative;
    display: inline-block;

    header {
        cursor: pointer;
    }

    &.hover:hover > ul{
        visibility: visible;
        opacity: 1;
        top: 23px;
        transition: opacity 200ms ease 0s, top 200ms ease 0s;
    }

    &.hover::before {
        content: "";
        display: block;
        position: absolute;
        background: var(--white-bg-color);
        width: 20px;
        height: 20px;
        left: 36%;
        transform: rotate(45deg);
        bottom: -36px;
        opacity: 0;
        visibility: hidden;
        transition: bottom 200ms ease 0s;
    }

    &.hover:hover::before {
            
            bottom: -26px;
            opacity: 1;
            visibility: visible;
            transition: bottom 200ms ease 0s;
    }

    ul {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        display: block;
        color: black;
        width: max-content;
        right: 0px;
        top: 30px;
        border: 1px solid var(--border-color);
        border-radius: 5px;
        padding: 0px;
        background-color: var(--white-bg-color);
        // transition visibility
        transition: opacity 200ms ease 0s, top 200ms ease 0s, visibility 300ms ease 0s;
        
        li {
            display: block;
            cursor: pointer;
            border: none;
            height: auto;
            width: 100%;
            text-align: left;
            line-height: 1em;
            color: var(--main-text-color );
            padding: 0;
            font-size: 1rem;
            text-transform: none;
            font-weight: normal;
            
            &.unread {
                background-color: var(--light-bg-color);
            }
            &.border-top {
                border-top: 1px solid var(--light-border-color);
            }
            .avatar.link {
                float: left;
                margin-right: 10px;
            }
            &:hover {
                background: var(--hover-bg-color);
            }
            &:active {
                background: var(--active-bg-color);
                transition: background 100ms ease 0s, 
            }

            img {
                margin-right: 10px!important;
            }

            & > a {
                display: flex;
                align-items: center;
                padding: 11px 16px;
                width: 100%;
                color: var(--main-text-color)!important;
                span {
                    color: var(--main-color)!important;
                    font-weight: bold;
                    &.title {
                        display: block;
                    }
                }
            }
            
        }
    }
}
// changes for header nav
nav.menu {
    width: 100px;
    height: 25px;
    &:hover ul {
        top: 21px;
    }

    &:hover  header::after {
        transform: rotateX(180deg);
        top: 0;
    }

    header {
        position: absolute;
        height: 37px;
        top: -2px;
    }

    header:after {
        font-family: "Font Awesome 5 Pro";
        content: "\f107";
        margin: 5px;
        display: inline-block;
        position: relative;
        top: 2px;
    }
}
nav.notifications {
    width: 30px;
    height: 25px;
    margin:  0 5px;

    ul {
        right: -140px;
        // max-height: 400px;
        // overflow: scroll;
        // overflow-x: hidden;
    }

    li {
        
        width: 100%;
        // a {
        //     color: var(--main-color)!important;
        //     font-weight: bold;
        // }
        .time {
            font-size: 11px;
            color: var(--lighter-text-color);
        }  
    } 
     
    header {
        position: absolute;
        height: 32px;
        top: 3px;
    }
    .notification.content {
        display: inline-block;
    }
    
}

// mobile menu
nav.mobile {
    display: none;
    ul {
        width: 100vw;
        right: -25px;
        z-index: 1000;
        padding: 30px 0;
        li {
            width: 100%;
            padding: 20px 60px!important;
            font-size: 16px;
        }
    }
    
}