.header {
    background-color: #2185D0;
    display: block;
    color: white;

    &.dashboard {
        padding: 10px 20px;
        position: fixed;
        z-index: 100;
        width: 100vw;

        .icon{
            margin: 0 10px;
        }
    }
}
.account-menu {
    display: flex!important;
    align-items: center;
    .user-avatar {
        float: left;
    }
}

.logo {
    display: inline-block;
    &.header {
        height: 25px;
        width: 118px;
    }
}

.right {
    float:right;
    display: flex;
    align-items: center;
    & > * {
        display: inline-block;
        margin: 0 5px;
    }
}
.left {
    float:left;
    & > * {
        display: inline-block;
        display: flex;
        align-items: center;
    }
}
// Side Bars
.left-sidebar {
    position: fixed;
    background-color: var(--lighter-bg-color);
    height: 100vh;
    padding-top: 47px;
    width: 20%;

    .search {
        padding: 25px;
        form{
            position: relative;
            input {
                border: none;
                border-radius: 20px;
                height: 35px;
                width: 100%;
                padding: 0 10px;
                padding-right: 45px;
                &:focus {
                    outline: none !important;
                    border:none;
                    border-radius: 20px;
                    box-shadow: 0 3px 10px #d6d6d6;
                }
            }
            button {
                position: absolute;
                border: none;
                background: none;
                right: 14px;
                height: 35px;
                width: 35px;
                cursor: pointer;
                color: var(--lighter-text-color);
            }
        }
        
    }
    .nav-messages {
        ul {
            display: flex;
            list-style-type: none;
            padding: 0;
            justify-content: space-evenly;
        }
        li {
            float: left;
            padding: 0;
            a {
                width: 100%;
                height: 20px;
                padding: 10px 20px;
                color: var(--light-text-color);
                &.active {
                    font-weight: bold;
                    color: var(--main-color);
                    border-bottom:  var(--main-color) solid 3px;
                    border-radius: 2px;
                }
                &:hover {
                    color: var(--main-color);
                }
            }
            
            
        }
    }
    .message-item {
        .avatar {
            border-radius: 50px;
            margin-right: 14px;
        }
        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .name {
            color: var(--dark-text-color);
            font-size: 14;
            font-weight: bold;

        }
        .subject {
            font-size: 12px;
            color: var(--light-text-color);
        }
        .date {
            position: absolute;
            right:25px;
            top: 18px;
            font-size: 10px;
            color: var(--lighter-text-color);;
        }
        a {
            position: relative;
            display: flex;
            padding: 10px 24px;
            cursor: pointer; 
            & > * {
                float: left;
            }
        }
        
        &.unread {
            background-color: #E5F0FA;
            border-top: var(--light-border-color) solid 1px;
            border-bottom: var(--light-border-color) solid 1px;

        }
        &.active {
            background-color: white;
            .name {
                color: var(--main-color);
            }
        }
        &:hover {
            background: var(--hover-bg-color);
        }
    }

}
.right-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--lighter-bg-color);
    height: 100vh;
    padding-top: 47px;
    width: 20%;
    h3 {
        font-size: 14px;
        font-weight: bold;
        margin: 3px;
    }
    p {
        font-size: 12px;
    }

    .info{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 45px 20px 20px;
        color: var(--dark-blue-color);
        .name{
            font-size: 16px;
            font-weight: bold;
        }
        .username {
            font-size: 12px;
        }
    }
    .avatar {
        width: 150px;
        height: 150px;
        border-radius: 100px;
        margin-bottom: 10px;
    }
    .more-info {
        color: var(--dark-blue-color);
        letter-spacing: 0.5px;
        margin: 20px 40px;
        & > * {
            margin-bottom: 20px;
        }
    }
    nav {
        display: flex;
        flex-direction: column;
        margin: 33px;
        a {
            color: var(--dark-blue-color);
            &:hover{
                color:var(--main-color);
            }
        }
        & > * {
            margin: 5px 0;
        }
    }
    .attachments {
        margin: 20px 40px;
    }

}
section.conversation {
    position: relative;
    min-height: 100vh;
    width: 60%;
    margin: 0 20%;
    padding-top: 50px;

    .inbox-messages {
        display: grid;
    padding-bottom: 110px;
    }
    .message{
        width: max-content;
        color: var(--dark-text-color);
        border-radius: 20px;
        background: var(--lighter-bg-color);
        padding: 10px 15px;
        margin:3px auto 3px 30px;
        &.my-messages {
            background: var(--main-color);
            color: white;
            display: block;
            margin:3px 30px 3px auto;
            text-align: right;
        }

    }
    .message-input {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 30px;
        input {
            position: relative;
            border: none;
            border-radius: 20px;
            height: 44px;
            background-color: var(--lighter-bg-color);
            padding: 5px 30px;
            font-size: 12px;
            &.field {
                width: 100%;
                padding-right: 125px;
                display: none;
                &:focus {
                    outline: none !important;
                    border:none;
                    border-radius: 20px;
                    box-shadow: 0 3px 10px #d6d6d6;
                }
            }
            &.button {
                background-color: var(--secondary-color) ;
                color: var(--dark-text-color) ;
                cursor: pointer;
                &:hover {
                    background: #ffcf42;
                }
            }

        }
        .buttons {
            position: absolute;
            bottom:30px;
            right:30px;
            cursor: pointer;
            display: flex;
            align-items: center;
        }
        #attach {
            color: var(--light-text-color);
            &::after{
                content: "";
                width: 20px;
                height: 20px;
                background: var(--light-bg-color);
            }
        }
        .textarea {
            display: block;
            overflow: hidden;
            resize: vertical;
            min-height: 44px;
            max-height: 200px;
            position: relative;
            background-color: var(--lighter-bg-color);
            border: var(--lighter-bg-color) solid 11px;
            border-radius: 20px;
            padding: 0 100px 0 30px ;
            margin-right: 20px;
            font-size: 12px;
            line-height: 20px;
            &:focus {
                outline: none !important;
                border: var(--lighter-bg-color) solid 11px;
                border-radius: 20px;
                box-shadow: 0 3px 10px #d6d6d6;
            }
            &[contenteditable]:empty::before {
                content: "Type your message here";
                color: var(--light-text-color);
            }
        }
    }

}